﻿@using FinalExamPractice.Domain.Entities
@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("CreateAccount","UserAccount","Post"))
        {
            <label>Please Type Your Desired Username</label>@Html.TextBoxFor(x => x.Username);
            <label>Please Type Your Desired Password</label>@Html.PasswordFor(x => x.Password);
            <input type="submit" value="Create User" />
        }
       
    </div>
</body>
</html>
