﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "UserAccount", "Post"))
        {
            <label>Username</label>@Html.TextBox("username")<br />
            <label>Password</label>@Html.Password("password")<br />
            <input type="submit" value="Login" />
        }

    </div>
    <div> 
        @Html.ActionLink("Create Account", "CreateAccount")
       
    </div>
</body>
</html>
