﻿@using FinalExamPractice.Domain.Entities
@model IEnumerable<Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemsView</title>
</head>
<body>
    <div>
        @if (Session["User"] != null)
        {
            User user = Session["User"] as User;
            <h1>Welcome @user.Username </h1>
           <table>
               <thead><tr><th>Item Name</th><th>Current Highest Bid</th><th>Bid Holder</th><th>Place Bid</th>
                   </tr></thead>
               <tbody>
                   @foreach(Item item in Model)
                   {
                       <tr>
                          <td>@item.Name</td>
                           <td>@item.CurrentBidPrice</td>
                           <td>
                               @if(item.HolderName != null)
                               {
                                   @item.HolderName;
                               }
                               else
                               {
                                   @: No one has Bid on this Item yet
                               }
                           </td>
                           @using (Html.BeginForm("PlaceBid", "Auction", "Post"))
                           {
                               @Html.Hidden("itemId",item.ItemId)
                              
                            <td>@Html.TextBox("Bid")</td>
                                <td><input type="submit" value="Please Bid" /></td>
                           }
                          
                       </tr>
                   }
               </tbody>
           </table>
            
        }
        else
        {
            <p>Not Autheicated</p>
        }
    </div>
   
</body>
</html>
